#FIRST{
    background-color: rgb(222, 142, 24);
}
#second{
background-color:blueviolet;
color: aquamarine;
}
.border-purple
{background-color:purple;
color:rgb(105, 128, 0);}
.red{
    background-color:gold;
    color:beige;
}